body {
  font-family: sans-serif;
  font-size: 110%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#headshot {
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid white;
}

header {
  text-align: center;
  background-color: #343330;
  color: #ffffff;
  font-style: italic;
}

header h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 60px;
  color: white;
  font-size: 50px;
  font-weight: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 6px solid white;
}

header p {
}

footer {
  background-color: #343330;
  text-align: center;
  color: #ffffff;
}

#sidebar {
  width: 50%;
  background-color: #343330;
  color: #ffffff;
  padding: 2rem;
  position: fixed;
  left: 0;
  height: 100vh;
  top: 0;
  width: 200px;
  box-sizing: border-box;
}

#sidebar h2 {
  padding-left: 1rem;
  font-weight: 900;
}

.nav-menu {
  list-style: none;
  color: #ffffff;
  padding: 0%;
}

.nav-menu li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 1rem;
  cursor: pointer;
}

.nav-menu li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.main {
  display: flex;
  flex-direction: row;
  overflow: unset;
  padding-left: 200px;
}

main article {
  padding: 1rem;
}

main article h2 {
  font-weight: 600;
}

main article h3 {
  font-style: italic;
  font-weight: 300;
  text-decoration: underline;
}

footer a:hover {
  background: rgba(241, 241, 241, 0.2);
}
